<p-panel>
  <header>
    Kanban for Software Teams
  </header>
  Agile software development teams today are able to leverage these same JIT principles by matching the amount of work in progress (WIP) 
  to the team's capacity. This gives teams more flexible planning options, faster output, clearer focus, and transparency throughout the 
  development cycle.

  <p>
    While the core principles of the framework are timeless and applicable to almost any industry, software development teams have found 
    particular success with the agile practice. In part, this is because software teams can begin practicing with little to no overhead once 
    they understand the basic principles. Unlike implementing kanban on a factory floor, which would involve changes to physical processes 
    and the addition of substantial materials, the only physical things a software teams need are a board and cards, and even those can be 
    virtual.
  </p>
</p-panel>
