<div class="ui-g">

  <p-toolbar class="ui-g-12" [style]="{'background': 'lightgrey'}">
    <div class="ui-toolbar-group-left" style="min-width: 25%">
      <button pButton type="button" label="New" icon="fa-plus"></button>
      <button pButton type="button" label="Open" icon="fa-folder-open"></button>

      <i class="fa fa-bars"></i>

    </div>
    <span class="duh">Project and Release Management: Resources and Information!</span>
    <p-splitButton label="Actions" icon="fa-check" [model]="items" class="info"></p-splitButton>
  </p-toolbar>
</div>

<div class="ui-g">
  <!--div class="ui-g-2">
    <p-panel [style]="{'min-height': '100%'}">
      <header>
        Side Menu
      </header>
    </p-panel>
  </div-->
  <div class="ui-g-2">
    <p-menu [model]="items" [style]="{'min-height': '100%', 'width':'220px'}"></p-menu>
  </div>
  <div class="app-content ui-g-10">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="ui-g-12">
  <p-toolbar [style]="{'background': 'lightgrey'}">Footer</p-toolbar>
</div>