<p-fieldset legend="What is Scrum">
    Scrum is a lean philosophy of software development. It is more of a prescriptive framework within which it offers freedom and ownership to 
the teams to develop quality software. It borrows and builds on good practices from other lean and rapid development frameworks, like Extreme 
Programming. 
<p>
  It has certain mandatory artifacts in the form of planning meeting, daily standups, Review meeting and Retrospective. These meetings are 
  imperative for the smooth functioning of the Scrum Process. Planning ensures the teams are aware of what they are developing in short 
  time-boxed sprint. Its a commitment that the teams have to adhere to. Daily standups are usually the first things that happen in the scrum 
  world. Every team member attends this meeting to discuss his/her contribution the previous day and subsequent plan of action and highlighting 
  whatever impedes the progress. Review or Demo is made by the team to the stakeholders to showcase their product and get feedback from them 
  which may require further action. Retrospective, is a meeting for the team to address issues and set the things right.
</p>
</p-fieldset>



<p-fieldset legend="Scrum Manifesto" toggleable="true">


<ul>
  <li>Individuals and interactions over processes and tools</li>
  <li>Working software over comprehensive documentation</li>
  <li>Customer collaboration over contract negotiation</li>
  <li>Responding to change over following a plan</li>
</ul>

</p-fieldset>


