<p-panel>
  <header>
    Welcome to Agile Page
  </header>
  <h4>
    Our Agile community is actively engaged in working with the teams to produce quality software with a quick turnaround. The 
    The agile coaches of our community are well qualified with enormous experience in lean software development philosophy. They not only
    monitor the progress of the teams during the software development process but also help the teams overcome their hurdles and enrich their
    development experience by following the good practices of lean software development so as to produce an excellent product with high
    quality standards and minimum defects.


  </h4>
</p-panel>
